<div>
  <div class="col-lg-8">
    <div class="row">
      <div class="col-lg-6">
        <h4><span class="txt-danger">{{nameOfMovie}} Movie's</span></h4>
      </div>
      <div class="col-lg-6 text-right see-more" v-if="dataFilms.length === 4">
        <a href="#" @click="getFilmMore">See More</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-sm-3" v-for="(item, key) in dataFilms">
            <div class="thumbnail card-thumbnail" @click="detailFilms(item)">
              <div class="_thumbnail" :class="key % 2 == 0 ? 'purple' : 'orange'">
                <img alt="100%x200" src="../../../static/img/image (1).png">
              </div>
              <div class="caption">
                <label class="card-title"><b>{{item.title}}</b></label>
                <label>Director:</label>
                <p>{{item.director}}</p>
                <label>Release:</label>
                <p>{{item.release_date}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <modal-film v-if="showModal" :close="onDetailModalClose" :film="onDetailModalClose" />
</div>